* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    width: 100%;
}

main{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
}

.card{
    height: 300px;
    width: 500px;
    background-color:white;
    border-radius: 10px;
}

p{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

.outer{
    width: 80%;
    height: 18px;
    background-color: grey;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 18px;
    border-radius: 10px;
}

.inner{
    height: 100%;
    width: 0%;
    background-color: green;
    border-radius: 10px;
}

.bottom{
    display: flex;
    justify-content: space-between;
    padding: 30px;
}

.bottom button{
    padding: 20px 25px;
    background-color: green;
    color: white;
    border-radius: 10px;
    border: none;
    font-weight: 700;
}

.bottom h2{
    font-size: 50px;
}
