* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;
}

body {
    overflow: hidden;
}

/* Background Video */
#bgVideo {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

/* CSS variables */
:root {
    --x: 50%;
    --y: 50%;
}

/* Spotlight overlay */
.box {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: radial-gradient(300px at var(--x) var(--y),rgba(255, 255, 255, 0),rgba(0, 0, 0, 0.988));
    pointer-events: none;
}
