* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}

/* #box{
    height: 300px;
    width: 300px;
    background-color: rgb(49,58,180);
    margin: 40px;
    border: 2px solid white;
    border-radius: 10px;
}

button{
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    font-weight: 600;
    background-color: crimson;
    cursor: pointer;
}

button:active{
    scale: 0.95;
} */