* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    width: 100%;
}


.elem{
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    gap: 60px;
    margin-left: 20px;
    margin-right: 20px;
    border-radius: 15px;
}

button{
    padding: 20px 30px;
    background-color: royalblue;
    border: none;
    border-radius: 15px;
    cursor: pointer;
}

